*{
	font-family: Formular;
	color: #282828;
	//border: 1px red solid
}

a {
	color: #321F54;
}

html{
	scroll-behavior: smooth;
}

.container{
	margin: 0 auto;
	padding: 0px 15px;
	max-width: 1334px;
}

.long-grey-divider {
	max-width: 1340px;
	height: 1px;
	background: #DBDBDB;
}

.orange-divider {
	background: #FF843F;
	height: 1px;
	width: 100%;
}


