*{
	font-family: Formular;
	color: #282828;
}

a {
	color: #321F54;
}

html{
	scroll-behavior: smooth;
}

.container{
	margin: 0 auto;
	max-width: 1320px;
}

.long-grey-divider {
	width: 1324px;
	height: 1px;
	background: #DBDBDB;
}

.orange-divider {
	background: #FF843F;
	height: 1px;
	width: 340px;
}


