

.area{
	position: relative;
	z-index: 1;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    
    //height:100vh;
}

section{
	position: relative;
	z-index: -1110;
}

.container{
	position: relative;
	z-index: 10;
}



// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #fff';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(6000)}px #fff';
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(20);
$shadows-medium: multiple-box-shadow(20);
$shadows-big: multiple-box-shadow(10);

#stars {

  width: 17px;
  height: 17px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1000px;
    width: 17px;
 	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars2 {
	margin: 0 auto;
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 17px;
  	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars3 {
	margin: 0 auto;
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 4000px;
	 width: 17px;
	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars4 {
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 6000px;
	 width: 17px;
	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars5 {
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
	 width: 17px;
	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars5 {
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 3000px;
	 width: 17px;
	 height: 17px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
#stars5 {
	width: 17px;
	height: 17px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    bottom: 0px;
	 width: 17px;
	 height: 17px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5000px);
  }
};