
//========slide styles===========
.course-programm {
	padding: 49px 0 122px 0;
	background: #FFFFFF;

		&__title {
			font-weight: bold;
			text-align: center;
			color: #282828;
			font-size: 40px;
			line-height: 47px;
		}

		&__subtitle {
			margin-top: 7px;
			margin-bottom: 30px;
			font-weight: bold;
			font-size: 24px;
			line-height: 47px;
			text-align: center;
			color: #FF843F;
		}
}

//========slide styles===========
.course-slide {

	&__wrapper {
		padding: 0px 20px 0px 50px;
		width: 428px;
		height: 590px;
		background: linear-gradient(151.15deg, #F8F8FF 46.95%, #DDDDE9 102.34%);
		border: 1px solid #E0E0EA;
		border-radius: 22px;
	}
 
	&__block-number-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__block-number-wrapper.slide1 {
		margin-top: 8px;
		margin-right: 13px;
	}

	&__block-number {
		position: relative;
		padding: 12px 27px;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		font-size: 22px;
		color: #200B73;
		border: 2px solid #200B73;
		border-radius: 2px;
		&::after{
			content:'';
			position: absolute;
			width: 28px;
			height: 28px;
			left: -14px;
			top: -14px;
			background: #FF843F;
		}
	}
	&__block-img {
		display: block;
		height: 139px;
	}
	&__title {
		font-weight: bold;
		font-size: 25px;
		line-height: 37px;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: 28px;
		font-weight: bold;
		font-size: 15px;
	}

	&__theme {
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 26px;
		color:#626060;
	}

	&__text-item {
		font-size: 16px;
		line-height: 28px;
	}
}


//swiper
.swiper {
	width: 100%;
	height: 700px;
	padding-top: 50px!important;
 }

.course-slide{
	transform: translateY(0px);
	transition: transform .3s;
   //transition-delay: 0.4s;
}
.swiper-slide-active{
	position: relative;
	transform: translateY(-50px);
	transition: transform .3s;
   //transition-delay: 0.4s;
 }


 .swiper-button-prev{
	top: 98%;
	left: 47%;
 }

 .swiper-button-next{
	top: 98%;
	right: 47%
 }

 .swiper-button-prev:after{
	content:'';
	background-image: url('../img/sections/course-programm/arrow-left.svg');
	width: 30px;
	height: 25px;
}

.swiper-button-next:after{
	content:'';
	background-image: url('../img/sections/course-programm/arrow-right.svg');
	width: 30px;
	height: 25px;
}