.footer {
	background: #F5F5F5;

	&__body {
		min-height: 96px;
		height    : 1px;
		padding   : 24px 0;
	}

	&__wrapper {
		height         : 100%;
		display        : flex;
		justify-content: space-between;
	}

	&__item-section {

		display        : flex;
		flex-direction : column;
		justify-content: space-between;
	}
	&__item-section-mobile {

		display        : none;
	}

	&__item {}

	&__item.center {
		display        : flex;
		justify-content: center;
	}

	&__item-link {
		font-size: 13px;
	}

	&__item-link.costum {
		position: relative;
		color   : #325EFA;

		&::after {
			content   : '';
			position  : absolute;
			width     : 16px;
			height    : 16px;
			left      : -20px;
			top       : 0;
			background: url('../img/sections/footer/arrow-up.svg') 50% no-repeat;
		}
	}

	&__item-divider {
		margin          : 0 8px;
		width           : 1px;
		height          : 12px;
		background-color: #282828;
	}
}


@media(max-width: 1024px) {
	.footer__wrapper{
		flex-wrap: wrap-reverse;
	}
	.footer__item-section{
		flex: 0 0 50%;
	}
	.footer__item.center{
		justify-content: flex-start;
	}
	.footer__item-link.costum{
		margin-left: 18px;
	}
	.footer__body {
		min-height: 133px;
	}
	.footer__item-section.s3{
		margin-bottom: 20px;
	}
}

@media(max-width: 480px) {
	.footer__item-section{
		flex: 0 0 100%;
		justify-content: stretch;
	}
	.footer__item-section.s1{
		margin-bottom: 20px;
	}
	.footer{
		padding-top: 43px;
		padding-bottom: 24px;
	}
	.footer__body{
		padding: 0;
	}
	.footer__item{
		margin-bottom: 12px;
	}
	.footer__body {
		min-height: 163px;
	}

	.footer__item-section.s1{
		order: 2
	}
	.footer__item-section.s2{
		order: 1
	}
	.footer__item-section.s3{
		order: 3
	}

}



// @media(max-width: 660px) {
// 	.footer__wrapper{
// 		display: block;
// 	}
// 	.footer__item-section{
// 		display: none;
// 	}
// 	.footer__item-section-mobile{
// 		display: block;
// 	}
// 	.footer__item.center{
// 		justify-content: flex-start;
// 	}
// 	.footer__item-link.costum{
// 		margin-left: 18px;
// 	}
// }