.tech-of-future {
	padding: 53px 0px 90px 0px;
	background-color: #FFFFFF;
	// background-image: url('../img/sections/tehnology/grey-pixeles.svg');
	// background-repeat: no-repeat;
	// background-position: 54% -18%;
	// background-size: 28%;
	&__info-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
	&__info-pixel.pix3-1{
		position: absolute;
		bottom: -48px;
		right: 0px;
	}
	&__text-wrapper {
	}

	&__title {
		font-weight: bold;
		font-size: 40px;
		line-height: 47px;
	}

	&__text {
		margin-top: 29px;
		font-size: 18px;
		line-height: 25.5px;
		max-width: 601px;
	}

	&__text-main-word {
		color: #563CBC;
		font-weight: 900;
	}

	&__img-wrapper {
		margin-top: 13px;
		margin-right: 112px;
		border-radius: 6px;
		position: relative;
		background: linear-gradient(180deg, #563CBC 0%, #200B73 100%);
		max-width: 382px;
		max-height: 250px;
		padding: 48px 58px 38px 59px;
	}

	&__tech-of-future__element{
	}

	&__img-text {
		color: #FFFFFF;
		font-size: 16px;
		line-height: 22px;
	}

	&__img-img {
		position: absolute;
		height: 250px;
		left: -148px;
		bottom: -88px;
	}

	&__icons-wrapper {
		margin: 0 auto;
		max-width: 1300px;
		display: flex;
		flex-wrap: wrap;
		margin-top: 95px;
		justify-content: space-between;
	}


	&__element {
		display: flex;
		align-items: center;
	}

	&__element-text {
		margin-top: 10px;
		margin-left: 13px;
		font-weight: bold;
		font-size: 14px;
		color: #282828;
	}
	&__divider{
		margin-top: 55px;
	}

	&__companys {
	}

	&__companys-subtitle {
		margin-top: 50px;
		font-weight: bold;
		font-size: 22px;
		line-height: 28px;
		text-align: center;
	}

	&__companys-logos {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		align-content: space-between;
	}

	&__company-logo {
		margin: 0 15px;
		display: flex;
		align-items: center;
		height: 27px;
		
		// &:nth-child(2){
		// 	margin-top: 15px;
		// }
		// &:nth-child(5){
		// 	margin-top: 7px;
		// }
	}

	&__company-logo-img {
		height:72%;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		//transition: all 0.4s;
		animation-timing-function: steps(5, end);
		animation-duration: 10s;
		animation-timing-function: steps(1, end);
		animation-delay: 2s;
		animation-iteration-count: infinite;
		&:hover{
			-webkit-filter: none;
			filter: none;
		}
	}
	&__company-logo-img.one {
		//height: 63px;
		animation-name: companyOne;
	}
	&__company-logo-img.two {
	//	height: 40px;
		transform: translateY(2px);
		animation-name: companyTwo;
	}
	&__company-logo-img.three {
	//	height: 43px;
		animation-name:companythree;
	}
	&__company-logo-img.four {
	//	height: 84px;
		animation-name: companyfour;
	}
	&__company-logo-img.five {
		height: 15px;
		animation-name: companyfive;
	}
	&__company-logo-img.six {
	//	height: 24px;
		animation-name: companysix;
	}
	&__company-logo-img.seven {
	//	height: 30px;
		animation-name: companyseven;
	}
	&__company-logo-img.eight {
	//	height: 45px;
	transform: translateY(-3px);
		animation-name: companyeight;
	}
	&__company-logo-img.nine {
	//	height: 28px;
		animation-name: companynine;
	}
	&__company-logo-img.ten {
	//	height: 47px;
		animation-name: companyten;
	}
}

@keyframes companyOne {
	0%   { filter: none; }
	10%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }
 @keyframes companyTwo {
	10%   { filter: none; }
	20%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }
 @keyframes companythree {
	20%   { filter: none; }
	30%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companyfour {
	30%   { filter: none; }
	40%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companyfive {
	40%   { filter: none; }
	50%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companysix {
	50%   { filter: none; }
	60%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companyseven {
	60%   { filter: none; }
	70%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companyeight {
	70%   { filter: none; }
	80%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companynine {
	80%   { filter: none; }
	90%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }

 @keyframes companyten {
	90%   { filter: none; }
	100%  { -webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
 }




@media(max-width: 1160px){
	.tech-of-future__info-wrapper{
		
		flex-direction: column;
	}
	.tech-of-future__text {
		max-width: none;
  }
  .tech-of-future__img-wrapper{
	  margin: 0 auto;
	  margin-top: 30px;
  }
  .tech-of-future__icons-wrapper{
	  margin-top: 130px;
	  padding-left: 70px;
	  width: 700px;
	  flex-direction: column;
	  height: 115px;
  }
  .tech-of-future__companys-logos{
	  justify-content: space-around;
  }
}


@media(max-width: 1020px){
	.tech-of-future__companys-logos{
		margin-top: 38px;
		height: 80px;
	}
	.tech-of-future {
		padding: 53px 0 44px 0;
  }
  .tech-of-future__companys-subtitle{
	margin-top: 43px;
  }
}

@media(max-width: 1024px){
	.tech-of-future__title{
		font-size: 25px;
	}
	.tech-of-future__text{
		font-size: 15px;
		line-height: 22px;
	}
	.tech-of-future__img-text{
		font-size: 14px;
	}

}






@media(max-width: 768px){
	.tech-of-future__icons-wrapper{
		height: auto;
		width: 305px;
		padding: 0;
		margin-top: 73px;
	}
	.tech-of-future__element{
		margin-top: 35px;
	}
	.tech-of-future .container {
		overflow: hidden;
	}
}

@media(max-width: 630px){
	
	.tech-of-future__img-img{
		height: 186px;
		left: -65px;
		bottom: 130px;
	}
.tech-of-future__icons-wrapper{
		margin-top: 32px;
		
	}
	.tech-of-future__img-wrapper{
		max-height: 430px;
		padding: 30px 30px 45px 25px;;
	}
	.tech-of-future__img-wrapper {
		margin: 0 auto;
		margin-top: 116px;
		padding: 48px 58px 38px 59px;
  }
}

@media(max-width: 575px){
	.tech-of-future__companys-logos{
		height: 137px;
	}
	.tech-of-future__icons-wrapper{
		width: 285px;
	}
}

@media(max-width: 480px){
	.tech-of-future__img-img {
		height: 186px;
		left: auto;
		right: -44px;
		bottom: 147px;
  }
  .tech-of-future__img-wrapper {
	padding: 45px 30px 45px 25px;
}
}

@media(max-width: 400px){
	.tech-of-future__img-img {
		bottom: 164px;
  }
}
@media(max-width: 363px){
	.tech-of-future__companys-logos{
		height: 235px;
	}
	.tech-of-future {
		padding: 53px 0 34px 0;
  }
}

@media(max-width: 335px){
	.tech-of-future__img-img {
		bottom: 183px;
  }
}

// @media(max-width: 342px){
// 	.tech-of-future__img-img {
// 	left: -26px;
// 	bottom: 182px;
// 	}
// }
