@font-face {
  font-family: "formular";
  font-display: swap;
  src: url("../fonts/Formular-Black.woff") format("woff"), url("../fonts/Formular-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: Black;
}

@font-face {
  font-family: "formular";
  font-display: swap;
  src: url("../fonts/Formular-Bold.woff") format("woff"), url("../fonts/Formular-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "formular";
  font-display: swap;
  src: url("../fonts/Formular-Light.woff") format("woff"), url("../fonts/Formular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: Light;
}

@font-face {
  font-family: "formular";
  font-display: swap;
  src: url("../fonts/Formular-Medium.woff") format("woff"), url("../fonts/Formular-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "formular";
  font-display: swap;
  src: url("../fonts/Formular-Regular.woff") format("woff"), url("../fonts/Formular-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

/*------reset styles start-------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------reset styles end-------*/

a {
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

* {
  font-family: Formular;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 68px;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.header__logo {
  margin-top: 11px;
  margin-left: 32px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Formular;
  font-size: 15px;
  line-height: 22px;
}

.header__navigation {
  margin-right: 32px;
}

.header__auth-reg-wrapper {
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #321f54;
}

.header__auth-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 192px;
  height: 38px;
  border-radius: 19px;
  padding: 8px 20px;
  font-family: "formular";
  background-color: #ffffff;
}

.header__auth-reg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 24px;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__submenu-img {
  display: block;
  margin-left: 6px;
  margin-top: 2px;
}

.burger {
  width: 68px;
  height: 68px;
  color: #fff;
  background: #ff843f;
  border-color: #ff843f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-app {
  background-color: #F5F6F7;
  padding-top: 67px;
  background-image: url("../img/sections/mobile-app/grey-pixels.svg");
  background-repeat: no-repeat;
  background-position: 43% 91%;
  background-size: auto;
}

.mobile-app__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-app__info-text {
  margin-top: 87px;
}

.mobile-app__info-age {
  margin-left: 4px;
  font-weight: 900;
  font-size: 22px;
  line-height: 47px;
}

.mobile-app__info-age:before {
  content: '';
  margin-right: 18px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #FF843F;
}

.mobile-app__info-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 53px;
  line-height: 55px;
}

.mobile-app__info-body {
  max-width: 538px;
  margin-top: 29px;
  font-size: 18px;
  line-height: 28px;
}

.mobile-app__info-get-course {
  margin-top: 52px;
  width: 292px;
  height: 64px;
  color: #ffffff;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(43.75%, #715BCD), to(#FF843F));
  background: -o-linear-gradient(left, #715BCD 43.75%, #FF843F 100%);
  background: linear-gradient(90deg, #715BCD 43.75%, #FF843F 100%);
  border-radius: 12px;
}

.mobile-app__format {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-app__format-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 315px;
  height: 191px;
  border: solid 1px #000000;
  border-radius: 15px;
}

.mobile-app__format-item-img {
  margin-top: 21px;
}

.mobile-app__format-item-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
}

.mobile-app__format-item-title.one {
  margin-top: 0px;
}

.mobile-app__format-item-title.two {
  margin-top: 19px;
}

.mobile-app__format-item-title.three {
  margin-top: 0px;
}

.mobile-app__format-item-title.four {
  margin-top: 9px;
}

.mobile-app__format-item-text {
  font-size: 16px;
  color: #FF843F;
}